button {
  border-radius: 20px;
  width: 200px;
  padding: 10px;
  color: rgb(163, 21, 21);
  background-color: rgb(0, 0, 0);
  margin-left: 10px;
  font-size: 20px;
  border: none;
}

input {
  width: 500px;
  background-color: black;
  color: rgb(163, 21, 21);
  font-weight: 700;
  font-size: 20px;
}
